#root {
  background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

#header {
  height: 50px;
  background-color: rgb(243, 220, 175);
  border-color: rgb(31, 9, 9) solid;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 6, 6);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#selectors {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  height: 31px;
  justify-content: flex-start;
}

#episodes_selection,
#shows_selection,
#episode_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f0ea;
  padding: 8px 12px;
  margin: 0 15px 0 0;
  font-size: 12px;
  border: 1px solid burlywood;
  border-radius: 7px;
}

#display_quantity_dom {
  margin-bottom: 10px;
  color: rgb(43, 6, 6);
}

#design_line {
  background-color: rgb(43, 6, 6);
  height: 2px;
}

.episode_card {
  background-color: #f2f0ea;
  border-color: rgb(31, 9, 9) solid;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgb(66, 37, 1);
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 6, 6);
}

img {
  border-radius: 10px;
  border-color: rgb(31, 9, 9) solid;
  box-shadow: 2px 2px 2px rgb(66, 37, 1);
}

h3 {
  color: rgb(101, 59, 5);
  font-weight: 500px;
}

#footer {
  height: 25px;
  background-color: rgb(243, 220, 175);
  border-color: rgb(31, 9, 9) solid;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 6, 6);
  justify-items: center;
}

#linkDataSource {
  justify-content: right;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 6, 6);
}