#root {
  background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

#front_page_root {
  background-color: burlywood;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(250px, auto));
  padding: 10px 0 0 18px;
}

.show_card {
  width: 1070px;
  height: 200px;
  background-color: #f2f0ea;
  border-color: rgb(31, 9, 9) solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 2px 2px 2px rgb(66, 37, 1);
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 6, 6);
  display: flex;
  align-items: flex-start;
  gap: 15px;
  position: relative;
}

.header {
  height: 50px;
  width: 99%;
  background-color: rgb(243, 220, 175);
  border-color: rgb(31, 9, 9) solid;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 6, 6);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
}

.selectors {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  height: 31px;
  justify-content: flex-start;
}

#episodes_selection,
#shows_selection,
#episode_input,
#show_input,
#filtered_show_box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f0ea;
  padding: 8px 12px;
  margin: 0 15px 0 0;
  font-size: 12px;
  border: 1px solid burlywood;
  border-radius: 7px;
  width: 180px;
  height: 30px;
  box-sizing: border-box;
}

#display_quantity_dom,
#display_quantityShows_dom {
  margin-top: 12px;
  color: rgb(43, 6, 6);
}

.sideShowCard.show_card {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 180px;
  height: 170px;
  padding: 10px;
  font-size: 12px;
  background-color: rgb(242, 240, 238);
  border: 1px solid #40170b;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgb(66, 37, 1);
  display: inline-block;
}

.design_line {
  background-color: rgb(43, 6, 6);
  height: 50px;
}

.episode_card {
  background-color: #f2f0ea;
  border-color: rgb(31, 9, 9) solid;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgb(66, 37, 1);
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 6, 6);
}

#img_front.show_card {
  height: 130px;
  width: 150px;
  border-radius: 10px;
  border-color: rgb(31, 9, 9) solid;
  box-shadow: 2px 2px 2px rgb(66, 37, 1);
}

#img_epi {
  border-radius: 10px;
  border-color: rgb(31, 9, 9) solid;
  box-shadow: 2px 2px 2px rgb(66, 37, 1);
}

p {
  text-align: left;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(101, 59, 5);
  justify-content: baseline;
  margin: 0;
}

h2.show_card {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(54, 32, 4);
  font-weight: 700;
  align-self: center;
  margin: 0 0 10 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

#title.show_card {
  text-align: left;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(101, 59, 5);
  flex-flow: column;
  margin: 0;
  position: absolute;
  right: 40px;
  top: 20px;
  width: 180px;
  height: 170px;
  padding: 10px;
  font-size: 12px;
  display: inline-block;
}

#crossing {
  color: rgb(101, 59, 5);
  font-weight: 500px;
  text-decoration-line: underline;
  position: absolute;
  right: 50px;
  margin-top: 12px;
}

h3 {
  color: rgb(101, 59, 5);
  font-weight: 500px;
}

#summary.show_card {
  flex: 1;
  right: 40px;
  top: 20px;
  width: 10px;
  height: 170px;
  padding: 10px;
  font-size: 12px;
  text-align: left;
  display: inline-block;
}

.footer {
  height: 25px;
  background-color: rgb(243, 220, 175);
  border-color: rgb(31, 9, 9) solid;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 6, 6);
  justify-items: center;
}

.linkfooter {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 6, 6);
  text-decoration-line: underline;
}
